.body {
    font-family: "Roboto", sans-serif;
color: #fff;
}

a {
 text-decoration: none;
}

.logo {
    font-size: 18px;
    line-height: 1.16667;
    font-weight: 700;
    color: #4d5ae5;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    background-color: #fff;;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}
    
.title-address {
 font-size: 16px;
 line-height: 1.5;
 font-weight: 400;
 background-color: #fff;
}

.main-page-title{
    background-color: #2e2f42;
}
.button-order-service {
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
}

.button-order-service:hover,
.button-order-service:focus {
    background-color: #404bbf;
}
.main-page-title-content{
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 700;
}
.main-page-description{
 width: 1128px;
 height: 104px;
}
.main-page{
 width: 264px;
 height: 104px;
}
.main-page-descr{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: #2e2f42;
}
.text-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.title-our-team{
 font-weight: 700;
 font-size: 36px;
 line-height: 1.11111;
 color: #2e2f42;
 background-color: #f4f4fd;
}

.team-list {
    width: 1440px;
    height: 732px;
}
.team-item {
 box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
 background-color: #fff;
}

.team-sub-title {
font-size: 20px;
line-height: 1.2;
color: #2e2f42;
}

.team-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.title-portfolio{
 font-family: "Roboto", sans-serif;
 font-weight: 700;
 font-size: 36px;
 line-height: 1.11111;
 color: #2e2f42;
}

.box-portfolio{
 width: 360px;
 height: 420px;
 background-color: #fff;
}
.title-sub-portfolio {
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 color: #2e2f42;
 background-color: #fff;
}
.portfolio-text {
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 color: #434455;
}

.page-footer {
    background-color: #2e2f42;
}
.logo-web {
 font-family: "Raleway", sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 1.16667;
 color: #4d5ae5;
}
.logo-bottom {
 font-family: "Raleway", sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 1.16667;
 color: #f4f4fd;
}

.text-p-footer {
 font-family: "Roboto", sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 color: #f4f4fd;
}